body {
  margin: 2.5% 20% 20% 20%;
 	font-family: Fira Sans;
}

img {
	max-width: 100%;
	max-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-family: Fira Sans;
	color: grey;
	text-align: center;
}

div {
	font-family: Fira Sans;
	margin: 0em 20% .5em 20%;
	align-content: center;
}

div.center {
	align-self: center;
}


#diagram {
	align-self: center;
}

footer {
	font-family: Fira Sans;
	font-style: ExtraLight;
	font-size: .75em;
}

.link {
  stroke: #aaa;
}

.node text {
stroke:#333;
cursos:pointer;
}

.node circle{
stroke:#fff;
stroke-width:3px;
fill:#555;
}